<VirtualHost *:80>
    ServerAdmin <%= server_admin_email %>
    ServerAlias localhost
    ServerName coatl

    ErrorLog /var/log/apache2/localhost.error.log
    CustomLog /var/log/apache2/localhost.access.log combined
    LogFormat "%h %l %u %t \"%r\" %>s %b  \"%{Host}i\" \"%{Referer}i\" \"%{User-Agent}i \" \"%{Cookie}i\""

    DocumentRoot /var/www

    ProxyPass / http://127.0.0.1:8000/ retry=0
    ProxyPassReverse / http://127.0.0.1:8000/
    <Location / >
        Order allow,deny
        Allow from all
    </Location>

</Virtualhost>
