[user]
	name = <%= git_name %>
	email =<%= git_email %>
[giggle]
	main-window-maximized = false
	main-window-geometry = 1118x776+203+45
	file-view-vpane-position = 368
	main-window-view = HistoryView
	history-view-vpane-position = 436
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
        slog = log --pretty=format:'%C(bold)%C(yellow)%h%Creset%C(222)%d%Creset %s %C(bold)%C(black)(%cr by %an)'
[push]
	default = tracking
